body {
    background: linear-gradient(to bottom right, #004f76 31%, #9dbed1 70%);
}
form {
    font-size: 25px;
}

.form {
    text-align: center;
}

.btn {
    size: 30px;
}

.container {
    height: 450px;
    width: 500px;
    border-color: black;
}

h1, h3 {
    text-align: center;
    color: #ffff;
}

.option {
    color:black;
}
input{
    size: 50px;
}